In [1]:
#print,hello world
print("Hello world")
print("Welcome to PDA")

Hello world
Welcome to PDA

In [7]:
#Indentation
print("I have no Indentation")

I have no Indentation

In [8]:
#Taking Input()
name = input("Enter you name")
print("Hello",name,"Welcome!")

Enter you name niranjana

Hello niranjana Welcome!

In [9]:
#printing output
s = "ABC"
age = 25
p = "India"
print(s,age,p)

ABC 25 India

In [55]:
#taking multiple inputs
x,y,z=input("Enter three values:").split()
print("Total number of students:",x)
print("Total number of boys:",y)
print("Total number of girls:",z)

Enter three values: 44 22 22

Total number of students: 44
Total number of boys: 22
Total number of girls: 22

In [4]:
#python varibales
x=55.7
s="Hello"
print(x)
print(s)

55.7
Hello

In [5]:
#type casting a veraibles
i=int(x)
s1=str(x)
print(i)
print(s1)

55
55.7

In [6]:
#getting typle of varible
n1=55
n2=55.6
n3="Hello"
n4=[1,2,3,4,5]
n5={"a":1,"b":2,"c":3}
n6=True
print(type(n1))
print(type(n2))
print(type(n3))
print(type(n4))
print(type(n5))
print(type(n6))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>

In [7]:
#python data types
#numeric data typess
a=5
print(type(a))
b=5.2
print(type(b))
c= 5 + 2j 
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [8]:
#sequence data type
s="Welcome to PDA"
print(type(s))
print(s)
print(s[1])
print(s[-1])

<class 'str'>
Welcome to PDA
e
A

In [9]:
#list
a=[]
print(type(a))
b=[1,2,3]
print(b)
c=[1,2.3,"A","Mango"]
print(c)
print(b[0])
print(b[1])
print(c[-1])
print(c[-2])

<class 'list'>
[1, 2, 3]
[1, 2.3, 'A', 'Mango']
1
2
Mango
A

In [10]:
#tuples
t1=("Class","for","PDA")
t2=(1,2,3,4,5)
print(type(t1))
print(t2)
print(t1[-1])
print(t2[2])

<class 'tuple'>
(1, 2, 3, 4, 5)
PDA
3

In [11]:
#boo;ean
print(type(False))
print(type(True))
if 1:
    print("1 is true")
else:
    print("0 is false")

<class 'bool'>
<class 'bool'>
1 is true

In [12]:
#sets
s1=()
s2=("Beautiful day")
s3=set["A","B","C"]
print(type(s1))
print(s2)
for s in s3:
    print(s,end="")

<class 'tuple'>
Beautiful day
*set['A', 'B', 'C']

In [14]:
#dictionary
d1={}
d2={"a":1,"b":2,"c":3}
d3={1:"a",2:"b",3:"c"}
print(d2)
print(d3[1])

{'a': 1, 'b': 2, 'c': 3}
a

In [15]:
# type conversion
# implicit type conversion
x=10
y=10.8
z=x+y
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

In [16]:
#explicit 
s="Hello World"
t=type(s)
u=list(s)
v=set(s)
print(type(s))
print(type(t))
print(type(u))
print(type(v))

<class 'str'>
<class 'type'>
<class 'list'>
<class 'set'>

In [17]:
#operators
# arithmetic operators
a=17
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

22
12
85
3.4
3
2
1419857

In [18]:
#comparison operators
a=7
b=5
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

True
False
True
False
True
False

In [19]:
#logical operator
a=True
b=False
print(a and b)
print(a or b)
print(not b)

False
True
True

In [20]:
#bitwise  operators
a=5
b=2
print(a&b)
print(a/b)
print(~a)
print(a^b)
print(a>>2)
print(a<<2)

0
2.5
-6
7
1
20

In [21]:
##assignment operators
a=10
b=2
a+=b
print(a)
a-=b
print(a)
a>>=b
print(a)
a<<=b
print(a)

12
10
2
8

In [24]:
# identify operators
a=10
b=5
c=a
print(c is a)
print(c is not b)

True
True

In [25]:
#ternary operators
min=a if a<b else b
print(min)

5

In [26]:
#membership operator
x=24
y=20
list1=[10,20,30,40]
if x not in list1:
    print("x not in list1")
if y in list1:
    print("y is in list1")

x not in list1
y is in list1

In [27]:
# questions(find output)
print(100/10*10)
print(5-2+3)
print(5-(2+3))
print(2**3**2)

100.0
6
0
512

In [31]:
#questions(find output)
name="Alex"
age=0
if(name=="Alex"or name=="John" and age>=2):
    print("Welcome")
else:
    print("Bye")

Welcome

In [29]:
#if statement
a=10
if a>5:
    print("a is greater than 5")

a is greater than 5

In [30]:
#if else statement
a=3
if a>5:
    print("a is greater than 5")
else:
    print("a is not greater than 5")

a is not greater than 5

In [33]:
# short hand if else
x = 10
y = 20
print("x is greater") if x > y else print("y is greater")

y is greater

In [34]:
# if elif else statement
marks=85
if marks>=90:
    print("Grade A")
elif marks>=60:
    print("Grade B")
else:
    print("Grade C")

Grade B

In [35]:
#nested if else
num = 10

if num > 0:
    if num % 2 == 0:
        print("Positive Even number")
    else:
        print("Positive Odd number")
else:
    print("Negative number")

Positive Even number

In [36]:
#looping statement 
#for loop
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [37]:
#while loop
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [38]:
#break
for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

In [39]:
#continue statement
for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [40]:
#pass statement
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [41]:
# match case
day = 2

match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case _:
        print("Invalid day")

Tuesday

In [42]:
#ternary if else
n = 7
result = "Even" if n % 2 == 0 else "Odd"
print(result)

Odd